.bg-grey-dark {
  background-color: #2C2E31 !important;
}

.bg-grey {
  background-color: #333537 !important;
}

.bg-grey-light {
  background-color: #37393C !important;
}

.bg-primary {
  background-color: #3E526F !important;
}

.h-100vh {
  height: 100vh !important;
}

.w-40 {
  width: 40% !important;
}